html {
    cursor: url(crosshair.png) 64 64, auto;
    
}

.inflatable {
width: 160px;
height: 190px;
box-shadow: 10px 10px lightgrey;
border-radius: 50%;
}
.string {
    width: 2px;
    height: 120px;
    background-color: black;
    margin-left: 90px;
}
.ballons {
    position: absolute;
    bottom: 0;
    cursor: url(crosshair-hot.png) 64 64, auto;
}
.counter {
    border-radius: 6px solid black;
    width: 100px;
    height: 30px;
    background-color: red;
    text-align: center;
   font-size: 20px;
}

body {
    background-image: url("https://previews.123rf.com/images/feelart/feelart1511/feelart151100096/49155360-balloons-and-fireworks-background.jpg");
}